body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
    color: #2E2F42;
/* height: 100vh; */
}

.container {
    display: flex;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    border-bottom: 1px solid #E7E9FC;
    justify-content: space-between;
    align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
color: #4D5AE5;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 3%;
text-align: left;
text-transform: uppercase;
margin-top: 24px;
margin-bottom: 24px;
margin-right: 76px;
margin-bottom: 16px;
}

.logo-black {
    color: #2E2F42;
    font-family: Raleway;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 3%;
text-transform: uppercase;
}

.menu__link {
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
padding-top: 24px;
padding-bottom: 24px;
gap: 40px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover {
    color: #404BBF;
}
.line {
    position: relative;
}

.line::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.menu {
    display: flex;
    gap: 40px;
}

.header__nav {
    display: flex;
}

.header__contacts {
    display: flex;
    gap: 40px;

}

.header__email {
    font-family: Roboto;
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
text-align: left;
padding-top: 24px;
padding-bottom: 24px;
font-style: normal;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header__email:hover {
    color: #404BBF;
}

.header__phone {
font-family: Roboto;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 24px;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header__phone:hover {
    color: #404BBF;
}

.hero {
    background-image: linear-gradient(#2E2F42B3, #2E2F42B3), url("../images/bg-office.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-color: #2E2F42;
    height: 600px;
    margin-bottom: 120px;


}

.hero__container {
    padding-top: 188px;
padding-bottom: 188px;
display: flex;
flex-direction: column;


}

.hero__title {
    color: #fff;
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 2%;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}

.hero__btn {
color: #fff;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 4%;

min-width: 169px;
height: 56px;
padding: 16px 32px 16px 32px;
border-radius: 4px;
box-shadow: 0 4px 4px 0 #00000026;
background-color: #4D5AE5;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover {
     background-color: #404BBF;
}


      /* section 2. class="specifik" */

.specifik-container {
    margin-bottom: 120px;
}

.specifik__list {
    display: flex;
    justify-content: space-between;
}

.specifik__icon {
    margin: 24px 100px;
}

.specifik__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: calc((100% - 3*24px) / 4);
}

.specifik__text {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
text-align: left;
min-width: 264px;
display: block;
}

.specifik__title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.specifik__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
border-radius: 4px;
width: 264px;
height: 112px;
}

  /* section 3 - Our team */

.ourteam-container {
    flex-direction: column;
}

.ourteam__list {
    display: flex;
    justify-content: space-between;
    /* gap: 24px; */
}

.ourteam__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 3*24px) / 4);
    border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.our-team {
    background-color: #F4F4FD;
    height: 780px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 120px;

}

.ourteam__title {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
}

.ourteam__img {
    box-sizing: border-box;
    width: 264px;
height: 260px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
margin-bottom: 32px;
}

.name {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 8px;
}

.position {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}

.socgroop {
    display: flex;
    margin-bottom: 32px;
    margin-right: 16px;
    margin-left: 16px;
}


.socgroop__list {
    display: flex;
gap: 24px;
}

.ourteam__icon {
    display: block;
    fill: #F4F4FD;
}

.socgroop__link:hover .ourteam__icon {
    fill: #fde830;
}

.socgroop__link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socgroop__link:hover {
    background-color: #404BBF;
}

/* section 4 - our portfolio */
.portfolio {
    background-color: #FFF;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
margin-bottom: 120px;
}

.section-title {
    display: block;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.portfolio-items {
    display: flex;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 48) / 3);
}

.portfolio__item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio__title {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.portfolio__description {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

.image-proekt {
    width: 360px;
}

.portfolio-image {
    position: relative;
    overflow: hidden;

}

.hiden-text {
position: absolute;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
background-color: #4D5AE5;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .hiden-text {
    transform: translateY(0);
}

.proekt-txt {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
}


          /* footer */

.page-footer {
    background-color: #2E2F42;
}

.footer-container {
    width: 1158px;
    margin: 0 auto;
   padding-top: 100px;
   padding-bottom: 100px;
}

.footer-logo {
    font-family: Raleway;
font-weight: 700;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.logo-white {
    color: #FFFFFF;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 3%;
text-transform: uppercase;
text-align: left;
}

.footer__text {
    color: #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
text-align: left;
width: 264px;
}

.logo-txt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 120px;
}

.footer-logo {
    display: block;
    width: 115px;

}

.socgroopes__title {
    color: #fff;
font-weight: 500;
line-height: 24px;
letter-spacing: 2%;
text-align: left;
display: block;
width: 96px;
}

.socgroopes__list {
    display: flex;
    gap: 16px;
}

.socgroopes__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socgroopes__link:hover {
    background-color: #31D0AA;
}

.icon {
    fill: #F4F4FD;
}

.socgroopes__link:hover .icon {
    fill: #7b034d;
}

.socgroopes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 208px;
}
