body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
    color: #2E2F42;
/* height: 100vh; */
}

.container {
    display: flex;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    border-bottom: 1px solid #E7E9FC;
    justify-content: space-between;
    align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
color: #4D5AE5;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 3%;
text-align: left;
text-transform: uppercase;
margin-top: 24px;
margin-bottom: 24px;
margin-right: 76px;
margin-bottom: 16px;
}

.logo-black {
    color: #2E2F42;
    font-family: Raleway;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 3%;
text-transform: uppercase;
}

.menu__link {
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
padding-top: 24px;
padding-bottom: 24px;
gap: 40px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover {
    color: #404BBF;
}
.line {
    position: relative;
}

.line::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.menu {
    display: flex;
    gap: 40px;
}

.header__nav {
    display: flex;
}

.header__contacts {
    display: flex;
    gap: 40px;

}

.header__email {
    font-family: Roboto;
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
text-align: left;
padding-top: 24px;
padding-bottom: 24px;
font-style: normal;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header__email:hover {
    color: #404BBF;
}

.header__phone {
font-family: Roboto;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 24px;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header__phone:hover {
    color: #404BBF;
}

.hero {
    background-image: linear-gradient(#2E2F42B3, #2E2F42B3), url("../images/bg-office.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-color: #2E2F42;
    height: 600px;
    margin-bottom: 120px;


}

.hero__container {
    padding-top: 188px;
padding-bottom: 188px;
display: flex;
flex-direction: column;


}

.hero__title {
    color: #fff;
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 2%;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}

.hero__btn {
color: #fff;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 4%;

min-width: 169px;
height: 56px;
padding: 16px 32px 16px 32px;
border-radius: 4px;
box-shadow: 0 4px 4px 0 #00000026;
background-color: #4D5AE5;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover {
     background-color: #404BBF;
}


      /* section 2. class="specifik" */

.specifik-container {
    margin-bottom: 120px;
}

.specifik__list {
    display: flex;
    justify-content: space-between;
}

.specifik__icon {
    margin: 24px 100px;
}

.specifik__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: calc((100% - 3*24px) / 4);
}

.specifik__text {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
text-align: left;
min-width: 264px;
display: block;
}

.specifik__title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.specifik__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
border-radius: 4px;
width: 264px;
height: 112px;
}

  /* section 3 - Our team */

.ourteam-container {
    flex-direction: column;
}

.ourteam__list {
    display: flex;
    justify-content: space-between;
    /* gap: 24px; */
}

.ourteam__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 3*24px) / 4);
    border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.our-team {
    background-color: #F4F4FD;
    height: 780px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 120px;

}

.ourteam__title {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
}

.ourteam__img {
    box-sizing: border-box;
    width: 264px;
height: 260px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
margin-bottom: 32px;
}

.name {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 8px;
}

.position {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}

.socgroop {
    display: flex;
    margin-bottom: 32px;
    margin-right: 16px;
    margin-left: 16px;
}


.socgroop__list {
    display: flex;
gap: 24px;
}

.ourteam__icon {
    display: block;
    fill: #F4F4FD;
}

.socgroop__link:hover .ourteam__icon {
    fill: #fde830;
}

.socgroop__link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socgroop__link:hover {
    background-color: #404BBF;
}

/* section 4 - our portfolio */
.portfolio {
    background-color: #FFF;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
margin-bottom: 120px;
}

.section-title {
    display: block;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.portfolio-items {
    display: flex;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 48) / 3);
}

.portfolio__item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio__title {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.portfolio__description {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

.image-proekt {
    width: 360px;
}

.portfolio-image {
    position: relative;
    overflow: hidden;

}

.hiden-text {
position: absolute;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
background-color: #4D5AE5;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .hiden-text {
    transform: translateY(0);
}

.proekt-txt {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
}


          /* footer */

.page-footer {
    background-color: #2E2F42;
}

.footer-container {
    width: 1158px;
    margin: 0 auto;
   padding-top: 100px;
   padding-bottom: 100px;
}

.footer-logo {
    font-family: Raleway;
font-weight: 700;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.logo-white {
    color: #FFFFFF;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 3%;
text-transform: uppercase;
text-align: left;
}

.footer__text {
    color: #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
text-align: left;
width: 264px;
}

.logo-txt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 120px;
}

.footer-logo {
    display: block;
    width: 115px;

}

.socgroopes__title {
    color: #fff;
font-weight: 500;
line-height: 24px;
letter-spacing: 2%;
text-align: left;
display: block;
width: 96px;
}

.socgroopes__list {
    display: flex;
    gap: 16px;
}

.socgroopes__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socgroopes__link:hover {
    background-color: #31D0AA;
}

.icon {
    fill: #F4F4FD;
}

.socgroopes__link:hover .icon {
    fill: #7b034d;
}

.socgroopes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 208px;
}

   /* modal */


   .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(46, 47, 66, 0.4);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal {
 width: 408px;
min-height: 584px;
border-radius: 4px;
background-color: #FCFCFC;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 24px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-button {
    box-sizing: border-box;
position: absolute;
    /* stroke:#e7e9fc; */
    width: 24px;
    height: 24px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
    background-color: rgb(231, 233, 252);
    right: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
    background-color: #4D5AE5;
    border: none;
}

.modal-button:hover .modal-close, .modal-button:focus .modal-close {
    fill: #fff;
}

.modal-content {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 2%;
        text-align: center;
        margin-top: 48px;
        margin-bottom: 16px;
}

.comment-input {
    width: 100%;
    height: 138px;
    margin-bottom: 16px;
}

.user-input {
    display: block;
    position: relative;
            width: 100%;
            height: 40px;
}

.modal-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding-left: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 20px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
    color: #8e8f99;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 4%;
        text-align: left;
}
.modal-input:placeholder-shown {
    text-indent: 30px;
}


.modal-input:hover,
.modal-input:focus {
    border: 1px solid rgba(77, 90, 229, 1);
}

.label-name {
        margin-bottom: 4px;
        display: inline-block;
        color: #8e8f99;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 4%;
            text-align: left;
}

.modal-form {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 8px;
width: 360px;
min-height: 336px;
margin-bottom: 16px;
}

.icon-input {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-input, .modal-input:hover + .icon-input {
    fill: #4D5AE5;
}

.comenttext {
    box-sizing: border-box;
    width: 100%;
    min-height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 20px;
    overflow: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    outline: transparent;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comenttext:hover,
.comenttext:focus {
    border: 1px solid rgba(77, 90, 229, 1);
}

.input-wrapper {
    width: 100%;
    height: 58px;
}

.comenttext::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.modal-submit {
    margin: 0 auto;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    background-color: rgba(77, 90, 229, 1);
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 4%;
        text-align: center;
}


.button-block {
    display: flex;
    justify-content: space-between;
}

.policy {
    line-height: 16px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.castoom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.label-name-checkbox {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.castoom {
}

.label-name-checkbox {
    display: flex;
}

.checkbox:checked + .label-name-checkbox .castoom-checkbox {
    background-color: #4D5AE5;
    border: none;
    fill: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* щоб текст не переносився */
    border: 0;
}
